$black-500: #131315;
$black-400: #1D1D20;
$black-300: #27272b;
$white: #FFFCF2;

$transition-easing: cubic-bezier(.63,.86,.65,.82);
$font: 'Poppins', system-ui, sans-serif;

$left-position: 2.4rem;

*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  color: $white;
}

.layout {
  height: 100%;
  width: 100%;
  background-color: $black-500;
  display: flex;
}

.sidebar {
  width: 8rem;
  height: 100%;
  padding-top: 4rem;
  background-color: $black-400;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  left: -25%;
  
  transition: all 0.3s $transition-easing;
  
  &--active {
    left: $left-position;
    transform: scale(0.95);
    border-radius: 1.2rem;
  }
  
  &__item {
    list-style: none;
    color: $white;
    padding: 1.2rem;
    border-radius: 1.2rem;
    
    & + & {
      margin-top: 2.4rem;
    }
    
    &:hover {
      background-color: $black-300;
      cursor: pointer;
    }
    
    &.active {
      background-color: $black-500;
    }
  }
}

.main {
  background-color: $black-400;
  height: 100%;
  width: 100%;
  
  display: grid;
  place-items: center;
  
  transition: all 0.3s $transition-easing;
  
  &--sidebar-active {
    transform: scaleX(0.95) scaleY(0.9);
    margin-left: 8rem + $left-position;
    opacity: 0.4;
    border-radius: 1.8rem;
  }
  
  &__content {
    text-align: center;
    
    h1 {
      font-size: 3rem;
    }

    p {
      font-style: italic;
      font-size: 1.4rem;
      margin-top: 0.8rem;
    }
  }
}

.menu {
  color: $white;
  font-size: 1.6rem;
  position: absolute;
  left: 4rem;
  top: 4rem;
  
  transition: all 0.3s $transition-easing;
  
  &--active {
    transform: rotate(-90deg);
    left: 1.2rem;
    top: 5rem;
  }
}